.btn {
    border: none;
    border-radius: 2.5px;
    padding: 2px;
    width: 86px;
    height: 42px;
    font-size: 15px;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  .fullwidth {
    width: 90%;
  }