//All variables are declared here

$text-color: rgba(97, 96, 96, 0.733);
$grey-back: rgba(223, 223, 223, 0.753);
$h-color: rgba(44, 44, 44, 0.733);
$primary: rgba(58, 58, 250, 0.863);
$text-primary: rgba(255, 255, 255, 0.808);
$red: rgba(207, 33, 33, 0.897);
$bac-text: rgba(255, 255, 255, 0.876);
$green: rgba(20, 167, 20, 0.616);
$yellow: rgba(212, 212, 7, 0.753);
